body {
  background-color: pink;
}
h1 {
      color: #0B0B61;
}
h1,h2,h3,p,h4{
  text-align: center;
}
h1,h2,h3{
  font-family:palatino;
}
iframe{
  display: block;
  margin:0 auto;
}
button{
  display:block;
  margin:0 auto;
}
img{
  
  display:block; 
  margin: auto;
  hieght: 300px;
  width: 500px;
  
 #pretty  {
		background-color: lightblue;
		padding: 20px;

